<?xml version="1.0" encoding="UTF-8"?>

<!-- xml 작성 참고 사이트 : http://jeong-pro.tistory.com/154 -->
<!-- 특수문자 : https://www.happyjung.com/lecture/1426?sca=HTML&sst=wr_datetime&sod=asc&sop=and&page=5 -->
<!-- LogPattern = [%d{yyyyMMdd HH:mm:ss}] %msg%n -->

<!DOCTYPE configuration [
	<!ENTITY charset "UTF-8">
	<!ENTITY LogPattern "&#37;msg&#37;n">
]>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>&charset;
			</charset>
			<Pattern>&LogPattern;
			</Pattern>
		</encoder>
	</appender>

	<root level="TRACE">
		<appender-ref ref="CONSOLE"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->
	</root>
</configuration>

